/* ========================
 *  CSS RESET - YUI 3.18.1
 *  http://yuilibrary.com/yui/docs/cssreset/
 * ======================== */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}


/* =======
 *  FONTS
 * ======= */
/* latin-ext */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url("../fonts/raleway/Raleway-Regular-Ext.woff2") format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url("../fonts/raleway/Raleway-Regular.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/* ====================
 *  PARAGRAPH/TABLE ELEMENTS
 * ==================== */
h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}
p {
    margin-bottom: 0.5em;
}
table {
    font-size: 0.6em;
    text-align: left;
}
table b {
    color: orange;
}


/* ==================
 *  BODY & CONTAINER
 * ================== */
body {
    color:#000;
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    line-height: 1.5;
}
.container {
    position: relative;
    background-color: #efefef;
    padding: 40px;
    height: 100%;
    max-width: 90%;
    float: none;
    margin: 2em auto;
    border-bottom: 4px solid #ccc;
}
.container:before, .container:after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
}
.container:before {
    border-top: solid 20px #fff;
    border-right: solid 20px #fff;
    border-left: solid 20px transparent;
    border-bottom: solid 20px transparent;
}
.container:after {
    border-bottom: solid 20px #5b7093;
    border-left: solid 20px #5b7093;
    border-right: solid 20px transparent;
    border-top: solid 20px transparent;
}


/* ================
 *  GRID STRUCTURE
 * ================ */

/* --- Main --- */
* {
    box-sizing: border-box;
}
[class*="col-"] {
    float: left;
    padding: 0.3em;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
/* --- For mobile (Default view) --- */
[class*="col-"] {
    width: 100%;
}
/* --- For tablets --- */
@media only screen and (min-width: 600px) {
    [class*="col-"] {
        width: 100%;
    }
}
/* --- For desktop --- */
@media only screen and (min-width: 1000px) {
    /* --- Define 12 columns grid --- */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}